---
import AboutMe from "../components/AboutMe.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex items-center justify-center">
        <AboutMe />
    </div>
</BaseLayout>
