---
import NavItem from "../components/NavItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---
<BaseLayout>
	<h1 class="text-ctp-text">Work - Under construction -</h1>
	<ul class="flex flex-row gap-4">
        <li>
            <NavItem href="https://github.com/offlaneDefender" text="github" />
        </li>
        <li>
            <NavItem href="https://www.linkedin.com/in/mircea-chilom-336532181/" text="linkedin" />
        </li>
    </ul>
</BaseLayout>
