---
import NavItem from "./NavItem.astro"
---

<header class="flex w-full items-center justify-evenly">
    <nav>
        <ul class="flex flex-row gap-4">
            <li>
                <NavItem href="/" text="Home" /> 
            </li>
            <li>
                <NavItem href="/work" text="Work" />
            </li>
            <li>
                <NavItem href="/hobbies" text="Hobbies" />
            </li>
            <li>
                <NavItem href="/contact" text="Contact" />
            </li>
        </ul>
    </nav>
</header>