---
import NavItem from "./NavItem.astro";
---

<header class="flex w-full items-center justify-evenly">
    <nav>
        <ul class="flex flex-row gap-4">
            <li>
                <NavItem href="/" text="Home" data-astro-prefetch />
            </li>
            <li>
                <NavItem href="/work" text="Work" data-astro-prefetch />
            </li>
            <li>
                <NavItem href="/hobbies" text="Hobbies" data-astro-prefetch />
            </li>
            <li>
                <NavItem
                    rel="me"
                    href="https://mastodon.social/@cmikko"
                    text="ðŸ˜"
                    title="Mastodon"
                />
            </li>
            <li>
                <NavItem href="mailto:contact@mikko.mozmail.com" text="âœ‰ï¸" title="email"/>
            </li>
        </ul>
    </nav>
</header>
