---

---

<h2 class="text-2xl">Currently building stuff with:</h2>
<ul>
    <li class="flex flex-row items-center justify-between">
        <h3>Frontend:</h3>
        <p>NextJS (SSR) & Astro(SSG)</p>
    </li>
    <li class="flex flex-row items-center justify-between">
        <h3>FullStack:</h3>
        <p>Typescript</p>
    </li>
    <li class="flex flex-row items-center justify-between">
        <h3>Backend:</h3>
        <p>Go & Turso</p>
    </li>
</ul>
