---

---

<div class="flex flex-col p-4 gap-4 items-center justify-center">
    <section class="flex flex-col gap-1 text-ctp-text">
        <h2 class="text-2xl">Photography</h2>
        <p>
            Ever since I got my first toy camera as a child, I got hooked on
            photography.
        </p>
        <p>
            Analog, Digital, as long as I can capture a moment I'm happy
            regardless of medium.
        </p>
        <div class="mt-2">
            <h3 class="text-xl">Current gear:</h3>
            <ul>
                <li class="flex flex-row items-center justify-between p-1">
                    <h4>Cameras (Micro 4/3rds)</h4>
                    <p>Olympus OM-D E-M5 II, Panasonic Lumix GX800</p>
                </li>
                <li class="flex flex-row items-center justify-between p-1">
                    <h4>Lenses</h4>
                    <p>Olympus M.Zuiko 30mm f3.5 Macro, 7Artisans 25mm f1.8</p>
                </li>
                <li class="flex flex-row items-center justify-between p-1">
                    <h4>Accessories</h4>
                    <p>Olympus FL-LM3 Flash, Various filters</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="flex flex-col gap-1 text-ctp-text max-w-screen-sm">
        <h2 class="text-2xl">Gaming</h2>
        <p>
            The thing that fascinates me the most about video games is the
            concept of interactive storytelling (and competitive multiplayer, of
            course).
        </p>
        <div class="mt-2">
            <h3 class="text-xl">Some of my favorites:</h3>
            <ul>
                <li class="flex flex-row items-center justify-between p-1">
                    <h4>Singleplayer</h4>
                    <p>Mass Effect Trilogy, Halo series, Hollow Knight, Doom series</p>
                </li>
                <li class="flex flex-row items-center justify-between p-1">
                    <h4>Multiplayer</h4>
                    <p>Dota2, League of Legends, CS:GO, World of Warcraft, Warcraft 3</p>
                </li>
            </ul>
        </div>
    </section>
</div>
