---

---

<div class="flex flex-col p-4 gap-4 items-center justify-center">
    <section class="flex flex-col gap-1 text-ctp-text">
        <h2 class="text-2xl">Photography</h2>
        <p>
            Ever since I got my first toy camera as a child, I got hooked on photography.
        </p>
        <p>
            Analog, Digital, as long as I can capture a moment I'm happy regardless of medium.
        </p>
        <div>
            <h3 class="text-xl">
                Current gear:
            </h3>
            <ul>
                <li class="flex flex-row items-center justify-between">
                    <h4>Cameras (Micro 4/3rds)</h4>
                    <p>Olympus OM-D E-M5 II; Panasonic Lumix GX800</p>
                </li>
                <li class="flex flex-row items-center justify-between">
                    <!-- TODO: fill rest of content -->
                </li>
                <li class="flex flex-row items-center justify-between"></li>
            </ul>
        </div>
    </section>
</div>
