---

---

<h2 class="text-2xl">Tech I'm learning in 2024:</h2>
<ul>
    <li class="flex flex-row items-center justify-between">
        <h3>Mobile:</h3>
        <p>PWA's & Flutter</p>
    </li>
    <li class="flex flex-row items-center justify-between">
        <h3>Backend, tooling:</h3>
        <p>Bun</p>
    </li>
    <li class="flex flex-row items-center justify-between">
        <h3>Langs:</h3>
        <p>Lua, Gleam</p>
    </li>
    <li class="flex flex-row items-center justify-between">
        <h3>Others:</h3>
        <p>NeoVim, Nix</p>
    </li>
</ul>
