---

---

<h2 class="text-2xl">Tech I'm learning in 2024:</h2>
<ul>
    <li class="flex flex-row items-center justify-between">
        <h3>Mobile:</h3>
        <p>PWA's & Flutter</p>
    </li>
    <li class="flex flex-row items-center justify-between">
        <h3>Backend, tooling:</h3>
        <p>Bun</p>
    </li>
    <li class="flex flex-row items-center justify-between">
        <h3>Programming languages:</h3>
        <p>Lua, Elixir, Gleam</p>
    </li>
    <li class="flex flex-row items-center justify-between">
        <h3>Editors:</h3>
        <p>NeoVim</p>
    </li>
</ul>
