---

---

<h2 class="text-2xl">Other tech I've worked with in the past:</h2>
<ul>
    <li class="flex flex-row items-center justify-between">
        <h3>Mobile:</h3>
        <p>ReactNative & Expo</p>
    </li>
    <li class="flex flex-row items-center justify-between">
        <h3>Backend:</h3>
        <p>NodeJS</p>
    </li>
    <li class="flex flex-row items-center justify-between">
        <h3>Databases:</h3>
        <p>Neo4J & MongoDB</p>
    </li>
</ul>
